<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
<% include blocks/header.ejs %>
<text><%= message %></text>
<h1>Регистрация</h1>
<form action="/register" method="post">
    <label>Логин</label><br>
    <input type="text" name="login" required/><br><br>
    <label>Пароль (не менее 6 символов)</label><br>
    <input type="text" name="password" minlength="6" required/><br><br>
    <button type="submit"> Регистрация</button>
</form>
</body>
</html>